<div id="main-content-container">
  <div id="chat-mode-container">
    <div class="chat-history" #chatHistory>
      <div *ngFor="let message of messages" class="row-wrapper">
        <div [class]="message.author" class="message-bubble" [hidden]="message.message === ''">
          <div *ngIf="message.message" class="message">{{message.message}}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="chat-input-area">
    <textarea id="chat-text" type="text" [(ngModel)]="chatText" placeholder="Send a message"
      (keydown.enter)="onChatMessageSent($event)"></textarea>
    <button class="send-message" *ngIf="false">
      <i class="material-icons" (click)="onChatMessageSent(undefined)">send</i>
    </button>
    <button class="send-message" *ngIf="false" disabled>
      <i class="material-icons">more_horiz</i>
    </button>
  </div>
</div>
