<div id="main-content-container" style="display:flex; flex-direction:column; justify-content: space-between; height:100vh;"> 
  <div id="chat-mode-container">
    <div class="chat-history" #chatHistory>
      <div *ngFor="let message of messages" class="row-wrapper">
        <div [class]="message.author" class="message-bubble" [hidden]="message.message === ''">
          <div *ngIf="message.message" class="message">{{message.message}}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="chat-input-area">
    <textarea id="chat-text" type="text" [(ngModel)]="chatText" placeholder="Send a message"
      (keydown.enter)="onChatMessageSent($event)"></textarea>
    <button class="send-message" >
      <i class="material-icons" (click)="onChatMessageSent(undefined)">send</i>
    </button>
  </div>
</div>
